node_modules
node_modules/
.expo
.expo/
dist
dist/
web-build
web-build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.idea/
.vscode
.vscode/
build_error.txt
build_error_2.txt
check_output.txt
scripts
scripts/
